.hero{
  background-image:url("https://picsum.photos/id/88/1280/960");
  background-size: cover;
  height:75vh;
  background-color:rgba(28, 18, 141, 0.6);
  background-blend-mode:overlay;
}
header{
  height:25vh;
}