.hero{
  background-image:url("https://picsum.photos/id/88/1280/960");
  background-size: cover;
  padding-top:15rem;
  padding-bottom:15rem;
  background-color:rgba(72, 55, 255, 0.3);
  background-blend-mode:overlay;
}