html{
  scroll-behavior: smooth;
}
body{
  margin:0 auto;
}
.gallery-slides{
  min-height:700px;
  overflow-x:hidden;
}
.gallery{
  max-width:1024px;
  margin:0 auto;
}
.slide{
  height:100%;
  width:100%;
  object-fit: cover;
  transition:transform 0.75s ease;
}
.hero{
  background-image:url("https://picsum.photos/id/88/1280/960");
  background-size: cover;
  height:75vh;
  background-color:rgba(28, 18, 141, 0.6);
  background-blend-mode:overlay;
}
header{
  height:25vh;
}
.offer-item{
  margin:1rem;
  width:clamp(350px,100vw,500px);
}
.gallery-small img:hover{
  outline:2px solid #000;
  cursor: pointer;
}
.photo{
  opacity:0.5;
}
input,textarea:focus{
outline: none;
border: none;
}
label{
  text-align: center;
  color:#fff;
  display:block;
}
.social i:hover{
cursor:pointer;
color: rgb(40, 113, 215);
}
.focus{
  opacity:1;
}
.gallery-head{
  position:relative;
}
/* .gallery-head:nth-child(1):before{
  content:"";
  height:100%;
  width:1%;
  background-color:#8a2be2;
  top:0;
  right:0;
  position:absolute;
} */